
<style>
.search-btn{
  background-color: #77d579;
  color: darkgreen;
  border-radius: 25px;
  padding: 0 1rem 0 1rem;
}
.search-btn:hover {
  background-color: #71de73;
  color: darkgreen;
  
}

.search-btn i {
  display: inline;
  margin-right: 0.5rem;
}

.search-inp{
  border-radius: 25px;
  padding: 0.5rem 3rem 0.5rem 3rem;
  font-size: 1rem;
}
</style>


<nav class="navbar navbar-expand-md bg-body-tertiary border-bottom sticky-top">
  <div class="container-fluid px-4">
    <a 
    class="navbar-brand" 
    href="/listings">
    <i 
    class="fa-solid fa-compass">
  </i>
</a>
    <button 
    class="navbar-toggler" 
    type="button" 
    data-bs-toggle="collapse" 
    data-bs-target="#navbarNavAltMarkup" 
      <span 
      class="navbar-toggler-icon"></span>
    </button>

    <div class="mobile-menu d-lg-none">
  <a href="/listings">Explore</a>
  <a href="/listings/new">Airbnb your home</a>
  <a href="/logout">Logout</a>
</div>

    <div 
    class="collapse navbar-collapse" 
    id="navbarNavAltMarkup">
      <div 
      class="navbar-nav">
        
        <a class="nav-link" href="/listings">Explore</a>
       
      </div>

      <div  class="navbar-nav ms-auto" >
    <form class="d-flex" role="search">
      <input class="form-control me-2 search-inp" 
      type="search" 
      placeholder="Search destination" 
      aria-label="Search"/>
      <button class="btn search-btn" type="submit"><i class="fa-solid fa-magnifying-glass"></i>Search</button>
    </form>
      </div>

      <div class="navbar-nav ms-auto align-items-center gap-2">

  <% if(typeof currUser !== "undefined" && currUser) { %>

    <a class="nav-btn" href="/listings/new">
      <i class="fa-solid fa-house"></i> Airbnb your home
    </a>

    <a class="nav-btn logout-btn" href="/logout">
      <i class="fa-solid fa-right-from-bracket"></i> Logout
    </a>

    <div class="profile-circle">
  <i class="fa-solid fa-user"></i>
</div>

  <% } else { %>

    <a class="nav-btn" href="/signup">
      <i class="fa-solid fa-user-plus"></i> Sign up
    </a>

    <a class="nav-btn login-btn" href="/login">
      <i class="fa-solid fa-right-to-bracket"></i> Login
    </a>

  <% } %>

</div>

    </div>
  </div>
</nav>